//Importer hjælpe scss filer
@use "./helper/_animations" as *;
@use "./helper/_mixins" as *;
@use "./helper/_placeholders" as *;
@use "./helper/_variables" as *;
//Impoter font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


html{
    font-family: "Oswald", sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    margin: 0;
    position: relative;
    padding: 0;
    height: 800px;
    background-color: black;
    color: #fff;
}



.container-main{
    max-width: 100%;
    position: relative;
    padding: 1rem;
}

.header-main{
    h1{
        padding: 2rem;
        margin: 0;

        font-size: 5rem;
    }
    img {
        width: 100%;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
      }
}

.fade-in {
    animation-name: fadeIn;
  }

  .fade-out {
    animation-name: fadeOut;
  }

.nav-main{
    @include flexing(column,none);
    gap: 1rem;
    figure{
        gap: 1rem;
        @include margiPad(0,0);
        @include flexing(row,center);
        img{
            width: 50%;
        }
        img:first-child{
            width: 25%;
        }
    }
    ul{
        background-color: $standard-color;
        list-style: none;
        @include margiPad(0, 0);
        @include flexing(row,space-evenly);
        padding: 1.5rem 0;

        li{
            a{
                font-size: 1.2rem;
            }
            &:hover{
                cursor: pointer;
                color: $standard-color;
            }
            
        }
    }
}

// MAIN SECTION //

.intro{
    background-color: #22222277;
    padding: 1rem;
    margin: 2rem 0;
}

.about{
    img{
        height: 100%;
        width: 100%;
        display: block;
    
    }
}

.footer-main{
    background-color: $standard-color;
    // position: fixed;
    padding: 1rem 0;
    width: 100%;
    top: 800px;
}