@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

$standard-border: 4px solid black;
$standard-color: #d51b1b;

@mixin gridColumns ($amount) {
    display: grid;
    grid-template-columns: repeat($amount, 1fr);
}

@mixin flexing ($dir, $justify){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
}

@mixin margiPad ($margin, $padding){
    margin: $margin;
    padding: $padding;
}

body{
    margin: 0;
    position: relative;
    padding: 0;
    height: 800px;
    background-color: black;
    color: #fff;
}

.background{
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    top: 360px;

}

.container-main{
    max-width: 100%;
    position: relative;
    z-index: 9;
    padding: 1rem;
}

.header-main{
    font-family: "Oswald", sans-serif;
    h1{
        padding: 2rem;
        margin: 0;

        font-size: 5rem;
    }
}

.nav-main{
    figure{
        gap: 1rem;
        @include margiPad(0,0);
        @include flexing(row,center);
        img{
            width: 50%;
        }
        img:first-child{
            width: 25%;
        }
    }
    ul{
        background-color: $standard-color;
        list-style: none;
        @include margiPad(0, 1.5rem);
        @include flexing(row,space-evenly);

        li{
            
            &:hover{
                cursor: pointer;;
                color: $standard-color;
            }
        }
    }
}

main{
}

.footer-main{
    background-color: $standard-color;
    // position: fixed;
    padding: 1rem 0;
    width: 100%;
    top: 800px;
}